CompileFlags:
  Add: [-ffreestanding, -fno-exceptions, fno-bulitin, -nostdlib, -m32]
  Remove: [-fno-leading-underscore, -melf_i386] # GCC only

Diagnostics:
  
Index:
  Background: Build

Completion:
  ArgumentLists: FullPlaceholders
